*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    height: 100%;
    width: 70px;
    background: rgba(30, 30, 30, 1);
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo img{
    width: 35px;
}

.sidebar .logo_content .logo{
    display: flex;
    height: 80px;
    padding-bottom: 30px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    pointer-events: none;
    opacity: 1;
}

.logo_content .logo .img{
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-left: 20px;
    padding-right: 27px;

}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 32px;
    left: 30%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.sidebar.active .hamburger{
    left: 80%;
}

.bar{
    top: 3px;
    background: white;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.sidebar.active .hamburger #bar1{
    background-color: white;
    transform: rotate(45deg) translate(6px, 5px);
}

.sidebar.active .hamburger #bar2{
    background-color: transparent;
}

.sidebar.active .hamburger #bar3{
    background-color: white;
    transform: rotate(-45deg) translate(6px, -5px);
}

.hover-underline-animation {
    position: relative;
    color: rgb(223, 213, 204);
    text-decoration: none;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(223, 213, 204);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidebar.active .sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 20px 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar.after ul li .active, a:hover{
    height: 40px;
    background: rgba(151, 90, 172, 1);
    color: white;
}

.sidebar ul li .active, a:hover{
    height: 40px;
    background: rgba(151, 90, 172, 1);
    color: white;
}

.sidebar ul li a i{
    min-width: 40px;
    border-radius: 12px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    cursor: pointer;
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background:rgb(52, 51, 51);
}

.sidebar .profile_content .profile:hover{
    background: rgba(151, 90, 172, 1);
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    min-width: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}

.sidebar.active .profile #log_out{
    left: 88%;
}

.product{
    position: absolute;
    height: 100%;
    width: calc(100% - 70px);
    left: 70px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .product{
    width: calc(100% - 240px);
    left: 240px;
}

.single-pro-image model-viewer{
    height: 90vh;
    width: 40%;
    position: absolute;
    right: 0;
    top: 10%;
}

#prodetails{
    display: flex;
}

#prodetails .btn{
    width: 60px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-size: 20px;
    background: none;
    color: lightgrey;
    opacity: 0.7;
    transition: 0.32s;
    cursor: pointer;
}

#prodetails .single-pro-details .btn:hover{
    border: 1px solid white;
    color: white;
    opacity: 1;
}

#prodetails .single-pro-image{
    background-color: rgba(24, 20, 24, 1);
    width: 50%;
    margin-left: 80px;
    height: 100vh;
}

#prodetails .single-pro-details{
    width: 50%;
    height: 100vh;
    padding-top: 30px;
    margin-left: 120px;
    align-items: center;
    color: white;
}

#prodetails .single-pro-details h4{
    padding: 20px 0 20px 0;
    font-size: 30px;
}

#prodetails .single-pro-image .proname{
    padding-top: 50px;
    width: 120px;
    margin-left: 50px;
    border-bottom: 3px solid rgba(151, 90, 172, 1);
}

.proname h6{
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-bottom: 10px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details .button{
    padding: 10px 20px;
    margin: 80px 0 200px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(152, 90, 172, 0.7);
    cursor: pointer;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    color: lightgrey;
    transition: 0.32s;
}

#prodetails .single-pro-details .button:hover{
    opacity: 1;
    background-color: rgba(151, 90, 172, 1);
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}




